.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: visibility 0.5s linear, opacity 0.5s linear, z-index 0.5s linear;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.popup__container {
    max-width: 430px;
    min-height: 330px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 34px 36px;
    position: relative;
    box-sizing: border-box;
}

.popup__container_type_infoTool {
    padding: 60px 36px;
}

.popup__close-button {
    background-image: url(../../images/close-button.svg);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -32px;
    right: -32px;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.8;
    transition: opacity 0.2s linear;
}

.popup__figure {
    margin: 0;
}

.popup__image {
    margin: auto;
    max-width: 75vw;
    max-height: 75vh;
    display: block;
}

.popup__figcaption {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 10px;
}

.popup__figcaption_type_infoTool {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-top: 32px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
        min-height: 322px;
        padding: 25px 22px;
    }

    .popup__close-button {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        right: 0;
    }

    .popup__figcaption_type_infoTool {
        font-size: 20px;
        line-height: 24px;
    }
    
}