.techs {
    background-color: #F5F5F5;
}

.techs__wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 100px 0;
}

.techs__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 0 0;
}

.techs__description p {
    max-width: 460px;
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.techs__description h2 {
    margin: 0 0 26px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
}

.techs__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
    gap: 10px;
    max-width: calc(100% - 2 * 295px);
    margin: 100px auto 0;
    padding: 0;
}

.techs__list li {
    background-color: #E8E8E8;
    border-radius: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #000000;
}

@media screen and (max-width: 1279px) {
    .techs {
        background-color: #fff;
    }

    .techs__wrapper {
        max-width: 768px;
        padding: 90px 0;
    }

    .techs__description {
        margin-top: 80px;
    }

    .techs__description h2 {
        margin-bottom: 22px;
    }

    .techs__list {
        margin-top: 83px;
        grid-template-columns: repeat(auto-fit, 84px);
        max-width: calc(100% - 2 * 60px);
    }

    .techs__description p {
        font-size: 12px;
        line-height: 18px;
    }

    .techs__list li {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 767px) {
    .techs__wrapper {
        max-width: 320px;
        padding: 70px 0;
    }

    .techs__description {
        margin-top: 60px;
    }

    .techs__description h2 {
        margin-bottom: 24px;
        font-size: 30px;
        line-height: 36px;
    }

    .techs__description p {
        font-size: 11px;
        line-height: 16px;
    }

    .techs__list {
        margin-top: 50px;
        max-width: calc(100% - 2 * 71px);
    }
}