.mobile-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    visibility: hidden;
    z-index: 2;
}

.mobile-navigation_visible {
    visibility: visible;
}

/* @media screen and (max-width: 1279px) {
    .mobile-navigation {
        display: block;
        visibility: hidden;
    }   
} */

